.logo{
    width: 176px;
    height: 56px;
    justify-items: center;
    align-items: center;
    margin: 3px;
}
.logo img{
    width: 176px;
    height: 56px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
}
.right ul{
    display: flex;
    gap: 34px;
}
.right ul li{
    display: flex;
    align-items: center;
    list-style: none;
}
.first{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px;
    
}
.first span{
    font-size: 45px;
}
.first button{
    font-size: 14px;
    background-color: #00b6d1;
    border-width: 0px !important;
    border-radius: 5px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 20px !important;
    min-height: 48px;
    min-width: 256px;
    text-align: center;
    color: #fff;
}
.para{
    height: 72.5px;
    width: 960px;
    font-size: 24px;
    text-align: center;

}
.second{
    height: 75.2px;
    width: 960px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    margin: 3px;
}
.second img{
    height: 60px;
    margin: 20px;
}
.btn{
    background-color: #5cb85c;
    color: #fff;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    border-color: #5cb85c;
    align-items: center;
}
.item{    
    max-width: 302px;
    background-color: #f9f9f9;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 30px;

}
.grid{
    display: grid;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
.itemlang{
    text-align: center;
    font-weight: 100;
}
.button{
    font-size: 12px;
    padding: 8px 15px !important;
    min-height: 20px;
    text-transform: none;
}