*{
    margin: 0px;
    padding: 0px;
}
header{
    position: sticky;
    top:0px;
}
nav{
    background-color: pink;
    padding: 12px 0;
    font-weight: 600;
    box-shadow: 2px 2px 22px black;
}
ul{
    margin: 6px;
    padding: 0px 30px;
    border: 1px solid black;
    display: inline-flex;
    border-radius: 7px;
}
main{
    background-color:dimgray;
    color: rgb(0, 0, 0);
    padding: 20px;
}
main *{
}
    .boxes{
    background-color: green;
    margin: 2px;
    padding: 20px;
    border-radius: 22px;    box-shadow: 2px 2px 22px black;
}
.box{
    border-radius: 15px;
    width: 30%;
    height: 300px;
    margin: 0px 22px;
    padding: 10px;
    box-shadow: 2px 2px 22px black;
}
body {
    background-color: gray;
  }
  .card {
    background-color: rgb(245, 244, 230);
    width: 300px;
    height: 470px;
    border-radius: 15px;
  }
  .img {
    padding: 15px;
  }
  .img img {
    border-radius: 15px;
    width: 270px;
  }
  .para {
    padding: 10px;
  }
  .cap {
    padding: 0px 20px;
  }
  .cap span {
    border: 1.7px solid rgb(159, 92, 10);
    padding: 3px;
    border-radius: 100px;
  }
  .button {
    text-align: center;
  }
  .button button {
    padding: 9px;
    border-radius: 70px;
    background-color: rgb(253, 231, 149);
    border: none;
    color: rgb(138, 69, 4);
    font-weight: bold;
  }
  .button button:hover {
    background-color: rgb(245, 244, 230);
  }
  
.box2{
    background-color: royalblue;
    display: inline-block;
}
.circle{
    margin: 10px;
    background-color: orange;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    right: 23px;
    bottom: 12px;
    position: fixed;
}
footer{
    height: 100px;
    background-color:bisque;
    box-shadow: 2px 2px 22px black;
}
